* {
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    
}
body {
    background: black;
}
.container {  
    width: 275px;  
    margin: 5rem auto;  
    min-height: 310px;  
    border: solid 1px #3A4655;  
    box-shadow: 0 8px 50px -7px black;  
  } 
  .answer {
    background: #3A4655;  
    width: 100%;  
    height: 150px;  
    padding: 20px;
    color: white;
  }

  .answer-top {  
    text-align: right;  
    color: #727B86;  
    font-size: 21px;   
    border-bottom: dotted 1px;  
  }  
  .answer-buttom {  
    margin-top: 20px;  
    font-size: 45px;  
    text-align: right;  
    color: #fff;  
  } 
  .button-main {
    height: 100%;
    
  }
  .button-row  {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    cursor: grabbing;
    
  }
  
   input {
    
    margin-top: 10px;
    width: 25%;
    font-size: 2rem;
    text-align: center;
    
   }

   .screen {
    border: none;
    width: 100%;
    height: 100%;
    background-color: #3A4655;
    color: white;
   }

   .screen2 {
    border: none;
    width: 100%;
    height: 100%;
    background-color: #3A4655;
    color: white;
   }
   .button-row2{
    justify-content: space-between;
    width: 50%;
    display: flex;
   }
 .button0 {
  width: 50%;
 }
 .button1 {
  width: 50%;
 }
 .merge1 {
    width: 100%;
 }